@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

*{
	font-family: 'Annie Use Your Telescope', cursive;
}
h2{
	font-weight: normal;
}
.container{
	height: 120px;
	width: 80%;
	padding: 2%;
}
.btn{
	height: 50px;
	width: 120px;
	font-size: 1.6em;
	outline: none;
	border: none;
}
.btn-press{
	background-color: #FFFF00;
	transition: 0.1s;
	box-shadow: 0px 3px 7px #000;
	border-radius: 30px;
}
.btn-press:active{
	height: 48px;
	width: 118px;
	font-size: 1.5em;
	box-shadow: 0px 1px 2px #000;
	background-color: #FFEB3B;
}
.btn-anim1{
	background-color: #18FFFF;
	transition: 0.1s;
}
.btn-anim1:hover{
	animation-name: anim1;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
@keyframes anim1{
	0%{
		transform: rotateZ(2.5deg);
	}
	20%{
		transform: rotateZ(-2.5deg);
	}
	40%{
		transform: rotateZ(0deg);
	}
	60%{
		transform: rotateZ(2.5deg);
	}
	80%{
		transform: rotateZ(-2.5deg);
	}
	100%{
		transform: rotateZ(0deg);
	}
}
.btn-anim1:active{
	height: 48px;
	width: 118px;
	font-size: 1.5em;
	box-shadow: 0px 0px 16px #00E5FF inset;
}




.btn-anim2{
	width: 130px;
	background-color: #B2FF59;
	transition: 0.6s;
}
.btn-anim2:hover{
	border-radius: 150px 0px 150px 0px;
	box-shadow: 0px 2px 6px #000;
}
.btn-anim2:active{
	height: 48px;
	width: 128px;
	font-size: 1.5em;
	box-shadow: 0px 1px 2px #000;
	background-color: #64DD17;
}